* {
    margin: 0px;
    padding: 3px;
}

h1 {
    font-size: 30px;
    font: sansserif;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

header,
nav {
    text-align: center;
}

body {
    background-image: url(images/fondo.jpg);
}

.Agrupacion {
    background: rgb(149, 165, 166);
    width: 1100px;
    margin: 20px auto;
    padding: 7px;
}

.header {
    color: rgb(236, 240, 241);
    background: rgb(44, 62, 80);
    border: 3px solid black;
}

.header h2 {
    text-align: right;
}

.menu {
    background: rgb(52, 73, 94);
    color: white;
    padding: 1px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(236, 240, 241);
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    border-right: 3px solid black;
    text-decoration: none;
}

.menu li:last-child {
    border-right: none;
}

.section {
    margin: 20px;
    width: 710px;
    float: left;
}

.galery {
    margin: 20px;
    width: 710px;
    text-align: center;
    align-content: center;
    margin: auto;
}

article {
    background: rgb(22, 160, 133);
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 15px;
}

img {
    width: 200px;
    float: right;
}

article p {
    clear: both;
}

article footer {
    text-align: right;
    clear: both;
}

.aside {
    width: 300px;
    border: 1px solid black;
    float: left;
    margin: 20px 0px;
    background: rgb(26, 188, 156);
}

.footer {
    clear: both;
}

article time {
    color: white;
    background: rgb(127, 140, 141);
}